<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>jqGrid User</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.13.5/css/ui.jqgrid.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.13.5/js/jquery.jqgrid.min.js"></script>
	<script src="/js/list_user.js"></script>
</head>
<body>
	<!--Grid row-->
<div class="row d-flex justify-content-center">

 	<!--Grid column-->
 	<div class="col-md-6">
<!-- ------------------------------------------------------------- -->
	
		<p><a href="/login">login</a>  |  <a href="/home">home</a></p>
		
		<table id="grid-table" class="text-center"></table>
		<div id="grid-pager" class="text-center"></div>
		
		<button type="button" class="btn btn-primary" onclick="btnUpdateClick()">Cập nhật</button>
<!-- ------------------------------------------------------------- -->
	</div>
 	<!--Grid column-->

</div>
<!--Grid row-->



</body>
</html>