<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>jqGrid User</title>
  
  <!-- th thay thế thẻ div này bằng nội dung file html_head -->
  <div th:replace="include/html_head :: header"></div>
  
</head>
<body>
<div id="container">
<!--  ========== MENU HEADER ========== --> 
<div th:replace="include/menu :: menu"></div>

<!--  ========== MAIN CONTENT ========== --> 
<div style="margin-left: 60px;">
	<!--Grid row-->
		<div class="row d-flex justify-content-center">
		
		 	<!--Grid column-->
		 	<div class="col-md-6">
		<!-- ------------------------------------------------------------- -->
				<p>USER DATA </p>
				<table id="grid-table" class="text-center"></table>
				<div id="grid-pager" class="text-center"></div>
				
				<button type="button" class="btn btn-primary" onclick="btnUpdateClick()">Cập nhật</button>
		<!-- ------------------------------------------------------------- -->
			</div>
		 	<!--Grid column-->
		
		</div>
	<!--Grid row-->
</div>
<!--  ========== FOOTER ========== -->
<div th:replace="include/footer :: footer"></div>
</div>
</body>
</html>